# 1- Importing packages

In [1]:
import datetime as dt
import pandas as pd
import numpy as np

# 2- Importing and investigating data

In [5]:
house_price = pd.read_csv('house_prices.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'house_prices.csv'

In [ ]:
# look at a few rows of the data by printing first 5 rows
house_price.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
# select categorical features from the data
cat_f = house_price.select_dtypes(exclude=["number"]).columns.tolist()
cat_f

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition']

In [ ]:
# select numerical features from the data
num_f = house_price.select_dtypes(include=["number"]).columns.tolist()
num_f

['MSSubClass',
 'LotFrontage',
 'LotArea',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'MasVnrArea',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'TotRmsAbvGrd',
 'Fireplaces',
 'GarageYrBlt',
 'GarageCars',
 'GarageArea',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SalePrice']

# 3- Feature Engineering and Selection

In [ ]:
# Create Date feature as following:
# first we need to combine month and year into date, and setting day =1 rename columns
house_price = house_price.rename({'YrSold': 'year', 'MoSold': 'month'}, axis=1)  # new method

# create Date
house_price['Date'] = pd.to_datetime(house_price[['year', 'month']].assign(DAY=1))
house_price['Date']

Id
1      2008-02-01
2      2007-05-01
3      2008-09-01
4      2006-02-01
5      2008-12-01
          ...
1456   2007-08-01
1457   2010-02-01
1458   2010-05-01
1459   2010-04-01
1460   2008-06-01
Name: Date, Length: 1460, dtype: datetime64[ns]

In [ ]:
# Select month of the year from Date column
month_of_year = house_price['Date'].dt.month

In [ ]:
# copy your data 
data = house_price.copy()

In [ ]:
# Create 2 variables, one holds the categorical features and the other holds the numerical ones
object_df = data.select_dtypes(include = ['object'])
numerical_df = data.select_dtypes(exclude = ['object'])

In [ ]:
# Delete the categorical features: distribution imblance single categtory accounts for more than 95%
distribution_imbalance = []
for c in object_df.columns:
    percent = pd.DataFrame(object_df[c].value_counts(normalize = True) * 100)
    for i in percent.iloc[0]:
        if i > 95:
            distribution_imbalance.append(c)
object_df = object_df.drop(distribution_imbalance, axis = 1)

In [ ]:
# Create numerical feature: Age_house = year - YearBulit
numerical_df['Age_House'] = (numerical_df['year'] - numerical_df['YearBuilt'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Create numerical feature: TotalBsmtBath = BsmtFullBath + 0.5 * BsmtHaifBath
numerical_df['TotalBsmtBath'] = numerical_df['BsmtFullBath'] + numerical_df['BsmtHalfBath']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Create numerical feature: TotalBath = FullBath + 0.5 * HaifBath
numerical_df['TotalBath'] = numerical_df['FullBath'] + numerical_df['HalfBath']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#Create numerical feature: TotalSA = TotalBsmtSF + 1stFlrSF + 2ndFlrSF
numerical_df['TotalSA '] = numerical_df['TotalBsmtSF'] + numerical_df['1stFlrSF']+ numerical_df['2ndFlrSF']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#one-hot encoding for categorical features
object_df = pd.get_dummies(object_df,columns = object_df.columns)

In [ ]:
# Concatenate back the categorical and numerical featueres together
data = pd.concat([object_df, numerical_df], axis = 1, sort = False)
data.head()

,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,Alley_Grvl,Alley_Pave,LotShape_IR1,LotShape_IR2,LotShape_IR3,...,PoolArea,MiscVal,month,year,SalePrice,Date,Age_House,TotalBsmtBath,TotalBath,TotalSA
Id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,1,0,0,0,0,0,0,...,0,0,2,2008,208500,2008-02-01,5,1,3,2566
2,0,0,0,1,0,0,0,0,0,0,...,0,0,5,2007,181500,2007-05-01,31,1,2,2524
3,0,0,0,1,0,0,0,1,0,0,...,0,0,9,2008,223500,2008-09-01,7,1,3,2706
4,0,0,0,1,0,0,0,1,0,0,...,0,0,2,2006,140000,2006-02-01,91,1,1,2473
5,0,0,0,1,0,0,0,1,0,0,...,0,0,12,2008,250000,2008-12-01,8,1,3,3343

In [ ]:
# # Create a column for seasons
def season_of_date(date):
    year = str(date.year)
    seasons = {'spring': pd.date_range(start='21/03/'+year, end='20/06/'+year),
               'summer': pd.date_range(start='21/06/'+year, end='22/09/'+year),
               'autumn': pd.date_range(start='23/09/'+year, end='20/12/'+year)}

    if date in seasons['spring']:
        return 'spring'
    if date in seasons['summer']:
        return 'summer'
    if date in seasons['autumn']:
        return 'autumn'
    else:
        return 'winter'

data['seasons'] = data.Date.map(season_of_date)
data['seasons']

Id
1       winter
2       spring
3       summer
4       winter
5       autumn
         ...
1456    summer
1457    winter
1458    spring
1459    spring
1460    spring
Name: seasons, Length: 1460, dtype: object

In [ ]:
data.groupby('seasons')['SalePrice'].sum()

seasons
autumn     42170475
spring    104213764
summer     78457064
winter     39303643
Name: SalePrice, dtype: int64

# 3- Feature Selection

In [ ]:
# Select only Features that have correlation higher than 90%
def correlation(data, threshold):
    col_corr = set()
    corr_matrix = data.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i,j]) > threshold: #compare with the threshold value
                colname = corr_matrix.columns[i] #get name
                col_corr.add(colname)
    return col_corr

all_cols = [c for c in data.columns if c not in ['SalePrice']]
corr_features = correlation(data[all_cols], 0.9)
corr_features

{'Age_House',
 'CentralAir_Y',
 'ExterQual_TA',
 'Exterior2nd_CBlock',
 'Exterior2nd_CmentBd',
 'Exterior2nd_MetalSd',
 'Exterior2nd_VinylSd',
 'LandSlope_Mod',
 'LotShape_Reg',
 'RoofStyle_Hip',
 'SaleCondition_Partial'}

In [ ]:
# conclusion?