> # The More you practice The better You'll Be.

### Instructions: 
- Make sure that you understand this topics before you start.
- If you found something hard to do, try and try then google it and finally ask someone. 
- You can divide this work into daily tasks so that you do not feel pressure.
- After you finish, go to model answer and rate yourself. 
- If you find something ambiguous, Try to make a hypothesis to solve a problem.

### Question classification: 
- Green is level 1 
- Orange is level 2 
- Red is level 3

# <center> Let's start 💪 </center>

## <p style="color:green;">Q.01 Write a Python program to calculate the length of a string.</p>

In [4]:
x= input('enter the string : ')
print(len(x))

enter the string : ahmed el-sayed ali
18

## <p style="color:green;">Q.02 Given the string 'hello' give an index command that returns 'e'</p>

In [5]:
s = 'hello'
s[1:2]

'e'

## <p style="color:green;">Q.03 Reverse the string 'hello' using slicing</p>

In [6]:
s = 'hello'
s[::-1]

'olleh'

## <p style="color:red;">Q.04 Write a Python program to change a given string to a new string where the first and last chars have been exchanged.</p>

In [7]:
x = input('enter the string :')
x[-1]+x[1:-1]+x[0]

enter the string :hello

'oellh'

## <p style="color:green;">Q.05 Reassign 'hello' in this nested list to say 'goodbye' instead</p>
> list3 = [1,2,[3,4,'hello']]

In [9]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

## <p style="color:green;">Q.06 Sort the list below</p>
> list4 = [5,3,4,6,1]

In [12]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## <p style="color:green;">Q.07 Write a Python program to sum all the items in a list.</p>

In [13]:
list5= [5,3,4,6,1]
sum(list5)

19

## <p style="color:green;">Q.08 Write a Python program to get the largest number from a list.</p>

In [14]:
# Answer here 
list6= [5,3,4,6,1]
max(list6)

6

## <p style="color:green;">Q.09 Write a Python program to get the smallest number from a list.</p>

In [15]:
# Answer here 
list7= [5,3,4,6,1]
min(list7)

1

## <p style="color:orange;">Q.10 Write a Python program to remove duplicates from a list.</p>

In [16]:
list8= [5,3,4,6,6,5,1]
list9=list(set(list8))
list9

[1, 3, 4, 5, 6]

## <p style="color:green;">Q.11 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
>d = {'k1':{'k2':'hello'}}

In [18]:
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

## <p style="color:orange;">Q.12 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
> d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [23]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1]

['hello']

## <p style="color:red;">Q.13 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [25]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2]

['hello']

## <p style="color:green;">Q.14 Write a Python script to add a key to a dictionary.</p>
> Sample Dictionary : {0: 10, 1: 20}

> Expected Result : {0: 10, 1: 20, 2: 30}

In [30]:
dict= {0: 10, 1: 20}
dict.update({2: 30})
dict

{0: 10, 1: 20, 2: 30}

## <p style="color:green;">Q.15 Write a Python program to sum all the items in a dictionary.</p>

In [42]:
d={0: 10, 1: 20, 2: 30}
sum(d.values())

60

## <p style="color:green;">Q.16 Write a Python program to add an item in a tuple.</p>

In [55]:
t1=(1,2,3,4,5,6)
t2 = list(t1)
t2.append(50)
t3 = tuple(t2)
t3

(1, 2, 3, 4, 5, 6, 50)

In [60]:
t1=(1,2,3,4,5,6)
t2=t1 + (50,)
t2

(1, 2, 3, 4, 5, 6, 50)

## <p style="color:green;">Q.17 Write a Python program to convert a tuple to a string.</p>

In [65]:
# Answer here
a = ('a','h','m','e','d')
''.join(a)

'ahmed'

## <p style="color:green;">Q.18 Write a Python program to remove item(s) from a given set.</p>

In [69]:
# Answer here 
a = {'a','h','m','e','d'}
a.remove('a')
a.discard('m')
a

{'d', 'e', 'h'}

## <p style="color:orange;">Q.19 Write a Python program to create an intersection of sets.</p>
> Explanation : In mathematics, the intersection of two sets A and B, denoted by A ∩ B, is the set containing all elements of A that also belong to B (or equivalently, all elements of B that also belong to A).

In [71]:
x = {1,2,6,3,8,4,5}
y = {2,4,6,6,7,85,1,5}
x & y
a.intersection()

{1, 2, 4, 5, 6, 7, 85}

## <p style="color:orange;">Q.20 Write a Python program to create a union of sets.</p>
> Explanation :In mathematics, The union of two sets A and B is the set of elements which are in A, in B, or in both A and B.

In [20]:
# Answer here 
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 10, 23, 43, 65}

# <center> Thank's for your effort ❤️ </center>